@import "tailwindcss";

:root {
      --color-primary: oklch(50.8% 0.118 165.612);
      --color-secondary: oklch(52.7% 0.154 150.069);
      --color-accent: oklch(44.8% 0.119 151.328);
      --color-bg: oklch(82.196% 0.02011 59.981);
      --color-success: oklch(93.8% 0.127 124.321);
      --color-warn: oklch(83.7% 0.128 66.29);
      --color-wait: oklch(86.9% 0.022 252.894);
      --color-general: oklch(93.8% 0.127 124.321);
      
    }
