---
import MainLayout from "../layouts/MainLayout.astro";
import SwiperHero from "../components/SwiperHero.astro";
---

<MainLayout>
  <div>
    <iframe
      title="contactForm"
      src="https://docs.google.com/forms/d/e/1FAIpQLScxdgrNY4ye7iRcVh3REL53_bTdC0yUpJZL5-Ax-_z4QVO5XA/viewform?embedded=true"
      width="100%"
      height="1520"
      frameborder="0"
      marginheight="0"
      scrolling="no"
      marginwidth="0">Loading…</iframe
    >
  </div>
</MainLayout>
